.todoPage__list_item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-left: 10px;
   margin-right: 10px;
   
}

.todoPage__information {
   font-family: 'Roboto';
   font-weight: 700;
}

.todoPage__list_item button {
   margin-right: 5px;
   font-family: 'Roboto';
}

.todoPage_inputEdit {
   width: 150px;
   box-sizing: border-box;
   border: 1px solid rgb(214, 164, 255);
}