.homePage__information {
   padding: 30px 10px 50px 10px;
}


.homePage__information_card {
   text-align: start;
   border: 2px solid rgb(171, 130, 238);
   border-radius: 20px;
   box-shadow: 4px 4px 4px gainsboro;
   padding: 40px;
   background-color: white;
}

.homePage__information_card > p {
   font-family: 'Roboto';
   font-weight: 400;
   line-height: 24px;
}