.weatherForecast {
   max-width: fit-content;
   background-color: rgba(201, 216, 255, 0.774);
   border: 3px solid rgb(171, 130, 238);
   margin-left: auto;
   margin-right: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   font-family: 'Roboto';


   .weatherForecast_input {
      height: 40px;
      font-size: 20px;
      box-sizing: border-box;
   }
   
   .weatherForecast_go {
      height: 40px;
      font-family: 'Roboto';
      font-size: 20px;
      box-sizing: border-box;
      margin: 10px;
   }

   .weatherForecast_no_data {
      display: none;
   }

   .weatherForecast__warnings {
      font-family: 'Roboto';
      font-size: 20px;
      color:rgb(255, 68, 162);
      font-style: italic;
   }
}