.weather_fulfilled {
   display: none;
}

.weather_pending {
   font-family: "Roboto";
   font-size: 30px;
}

.weatherPage__information_hidden {
   display: none;
}

.weatherPage__information {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
   font-family: "Roboto";

   .weatherPage__information_city > {
      p > {
         p {
            color: rgb(72, 2, 138);
            font-size: 24px;
         }
      }
   }   
   

   .weatherPage__information_temperature {
      text-align: center;
   }

   .cod_not200_hidden,
   .cod200_hidden {
      display: none;
   }
}
