.weatherForecast__information_hidden {
   display: none;
}

.weatherForecast__forecast {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
      button {
         width: 100%;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         height: 50px;
         border-bottom: none;
         border-color: rgb(145, 77, 255);
      }

      .button_day__active {
         background-image: linear-gradient(rgb(145, 77, 255), blue);
         color: whitesmoke;
      }
}

.weatherForecast__forecast__data {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-image: linear-gradient(blue, rgb(145, 77, 255));
   color: whitesmoke;
   .weatherForecast__forecast__element_weather {
      .weatherForecast__forecast__icon_picture {
         background-color: rgb(147, 147, 255);
         box-shadow: 4px 4px 4px rgb(147, 147, 255);
         img {
            width: 30px;
         }
      }
      
      
   }
}

.weatherForecast__forecast__no_data {
   display: none;
}