.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.navigation_tools {
   display: flex;
   flex-direction: row;
}

.navigation_tools > .navigation_tools__currentUser {
   border-radius: 0;
   border: 3px solid rgb(184, 77, 255);
   box-sizing: border-box;
   color: rgba(137, 43, 226, 0.493);
}

.navigation_tools > .navigation_tools__no_currentUser {
   display: none;
}


.navigation_tools > p, .home {
   margin: 20px;
   font-size: 16px;
   font-weight: 700;
   border: 1px solid grey;
   border-radius: 10px;
   box-shadow: 1px 4px 4px gainsboro;
   padding: 5px;
}

.navigation_tools > p {
   background-color: white;
}


a {
   color: rgb(27, 0, 53);
   text-decoration: none;
}

a:hover {
   color: blueviolet;
}

.home {
   background-color: rgb(217, 217, 255);
}

.nav-link.active {
   color:rgb(255, 172, 70);
}

div.blue, div.yellow, div.orange, div.green {
   background-size: cover;
   padding-bottom: 100px;
   box-shadow: 1px 10px 20px grey;
}

.blue {
   background-image: url(./components/images/winter.jpg);
}

.yellow {
   background-image: url(./components/images/autumn.jpg);
}

.orange {
   background-image: url(./components/images/summer.jpg);
}

.green {
   background-image: url(./components/images/spring.jpg);
} 


.stop, .animate_progress {
   width: 300px;
   height: 20px;
   margin: 20px;
   box-sizing: border-box;
   position: relative;
   margin-top: 0;
   background-color: rgba(0, 0, 255, 0.1);
   opacity: 1;
}

.stop {
   display: none;
}

@keyframes progress {
   from {width: 40px; background-color: rgb(214, 164, 255); opacity: 0.1}
   to {width: 300px; background-color: blue; opacity: 0.9;}
}

.stop > p, .animate_progress > p {
   position:absolute;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: rgb(214, 164, 255);
   height: 20px;
   width: 40px;
   animation-name: progress;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-direction: alternate;
   animation-fill-mode: forwards;
}


@media screen and (max-width:750px) {
   .header {
      justify-content: space-evenly;
  }
   .navigation_tools {
      flex-direction: column;
   }

   .navigation_tools > p, .home {
      margin: 7px;
   }
}
