.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.navigation_tools {
   display: flex;
   flex-direction: row;
}

.navigation_tools > p, .home {
   margin: 20px;
   font-size: 16px;
   font-weight: 700;
   border: 1px solid grey;
   border-radius: 10px;
   box-shadow: 1px 4px 4px gainsboro;
   padding: 5px;
   
}

a {
   color: rgb(27, 0, 53);
   text-decoration: none;
}

a:hover {
   color: blueviolet;
}

.home {
   background-color: rgb(217, 217, 255);
}
